html{
    margin: 0;
    padding-top: 0;
}
body{
    background-color: black;
    z-index: 2;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0;
}

h2{
    color: rgba(255, 255, 255, 0.836);
    padding-left: 10%;
    font-style: bold;
    font-size: 2em;
}

h1{
    color:rgba(255, 255, 255, 0.836);
    text-align: center;
    padding-top: 2vh;
    margin-top: 0.35%;
}

p{
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.2em;
}

.left{
    float: left;
    width: 22.2vw;
    height: 100vh;
    background-image: url(images/optique.jpg);
    background-size: 100% 100%;
    padding-top: 0%;
}

.right{
    float: right;
    width: 22.2vw;
    height: 100vh;
    background-image: url(images/optique.jpg);
    background-size: 100% 100%;
}

.titre{
    border-style: inset;  
    border-color: rgb(56, 25, 167);
    border-width: 7px;
    padding: 0.2% 0.5%;
    border-radius: 20%;
}

.section{
    width: 100%;
    height: 4,5em;
    border-width: 1px 0px 1px 0px;
    border-image: linear-gradient(to right,rgba(180, 179, 179, 0.651) 0%, rgba(0, 0, 0, 0.979)100%) 1;
    border-style: solid;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.979) , rgba(0, 0, 0, 0.5));
}

.souligne{
    text-decoration: underline;
    text-decoration-color: rgb(56, 25, 167);
}

.mainmarge{
    margin: 0% 14%;
}

a{
    text-decoration: none;
}

a div:hover{
    background-color: lightskyblue;
}