body{
    background-color: black;
    z-index: 2;
    text-align: center;
}

h1{
    color:rgba(255, 255, 255, 0.836);
    text-align: center;
}

h2{
    color: rgba(255, 255, 255, 0.836);
    padding-left: 10%;
    font-style: bold;
    font-size: 2em;
}

.left{
    float: left;
    width: 22.2vw;
    height: 100vh;
    background-image: url(images/optique.jpg);
    background-size: 100% 100%;
    text-align: left;
}

.right{
    float: right;
    width: 22.2vw;
    height: 100vh;
    background-image: url(images/optique.jpg);
    background-size: 100% 100%;
}

p, label{
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.2em;
}

.section{
    width: 100%;
    height: 4,5em;
    border-width: 1px 0px 1px 0px;
    border-image: linear-gradient(to right,rgba(180, 179, 179, 0.651) 0%, rgba(0, 0, 0, 0.979)100%) 1;
    border-style: solid;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.979) , rgba(0, 0, 0, 0.5));
}

a{
    text-decoration: none;
}

a div:hover{
    background-color: lightskyblue;
}