body{
    background-image: url(images/boudhatvph.jpg);
    background-size: 55% 100vh;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 2;
}
h1{
    color: rgba(180, 179, 179, 0.651);
    padding-top: 2vh;
}

h2{
    color: rgba(255, 255, 255, 0.836);
    padding-left: 10%;
    font-style: bold;
    font-size: 2em;
}

/* couleurs et fonds */

.titre{
    
    color: rgba(22, 160, 202, 0.651);
}


.fondnoir{
    background-color: black;
    z-index: 1;
}

/* boites et organisation */

.sommaire{
    float: left;
    width: 22.2vw;
    height: 100vh;
    background-image: url(images/optique.jpg);
    background-size: 100% 100%;
}

.reseaux{
    float: right;
    width: 22.2vw;
    height: 100vh;
    background-image: url(images/optique.jpg);
    background-size: 100% 100%;
}

.droite{
    float: right;
    width: 22.2vw;
    height: 100vh;
    background-image: url(images/optique.jpg);
    background-size: 100% 100%;
    position: relative;
}
.section{
    width: 100%;
    height: 4,5%;
    border-width: 1px 0px 1px 0px;
    border-image: linear-gradient(to right,rgba(180, 179, 179, 0.651) 0%, rgba(0, 0, 0, 0.979)100%) 1;
    border-style: solid;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.507));
}

.section2{
    width: 100%;
    height: 4,5;
    border-width: 1px 0px 1px 0px;
    border-image: linear-gradient(to left, rgba(180, 179, 179, 0.651) 0%, rgba(0, 0, 0, 0.979)100%) 1;
    border-style: solid;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.979) , rgba(0, 0, 0, 0.5));
}

.soundcloud{
    display: inline;
    position: relative;
    top: 50px;
    right: 50px;
}

a{
    text-decoration: none;
}

a div:hover{
    background-color: lightskyblue;
}

